# Colors
BLACK='\e[30m'
RED='\e[31m'
GREEN='\e[32m'
YELLOW='\e[33m'
BLUE='\e[34m'
PURPLE='\e[35m'
CYAN='\e[36m'
WHITE='\e[37m'
NOCOLOR='\e[0m'

BR='\n'

# MacOS specific aliases
if [[ $OSTYPE == 'darwin'* ]]; then
   
fi

# Show all aliases
alias hh="cat ~/.dotfiles/.aliases | grep --ignore-case '^alias\|#'"

# Rewrites
alias df='df -h'
alias ll='gls -l --almost-all --human-readable --color --group-directories-first'

# Upgrade packages and cleanup
alias up='
    [[ $(brew -v 2> /dev/null) ]] && (upbrew);
    [[ $(pip -v 2> /dev/null)  ]] && (uppip);
    [[ $(npm -v 2> /dev/null)  ]] && (upnpm);
    [[ $(uname -s) == "Darwin" ]] && (upmac);
    [[ $(brew -v 2> /dev/null) ]] && (backup-brew);
'

alias upbrew='
    printf "${BR}${YELLOW}List Brew outdated formula and cask${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    brew update && brew outdated;

    printf "${BR}${YELLOW}Update Brew formula and cask\n";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    brew upgrade;
    printf "${GREEN}Done.${BR}${NOCOLOR}";

    printf "${BR}${YELLOW}Cleanup Brew${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    brew autoremove;
    brew cleanup -s --prune 1;
    printf "${GREEN}Done.${BR}${NOCOLOR}";
'

alias uppip='
    printf "${BR}${YELLOW}List outdated PIP packages${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    pip-review
    printf "${BR}${YELLOW}Update PIP packages${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    pip-review --local --auto
    printf "${BR}${YELLOW}Purge PIP cache${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    pip cache purge
    printf "${GREEN}Done.${BR}${NOCOLOR}";
'

alias upnpm='
    printf "${BR}${YELLOW}List outdated NPM packages${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    npm outdated -g --depth=0
    printf "${BR}${YELLOW}Update NPM packages${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    npm update -g
    printf "${GREEN}Done.${BR}${NOCOLOR}";
'

alias upmac='
    printf "${BR}${YELLOW}List MacOS available updates${BR}";
    printf "------------------------------------------------------------------${BR}${BR}${NOCOLOR}";
    softwareupdate --list;
    printf "${BR}Run following command to install all MacOS available updates:${BR}";
    printf "softwareupdate -i -a${BR}"

'

# Backup brew packages
alias backup-brew='
    printf "${BR}${YELLOW}Backup brew packages${BR}";
    printf "------------------------------------------------------------------${BR}${NOCOLOR}";
    brew bundle dump --describe --force --file ~/.dotfiles/Brewfile;
    printf "${GREEN}Done.${BR}${NOCOLOR}";
   
'

# Edit
alias e-zsh='e-dot'
alias e-git='e-dot'
alias e-dot='code --new-window ~/.dotfiles/'
alias e-ssh='code --add ~/.ssh/config'
alias e-host='code --add /etc/hosts'
alias e-composer='code --new-window ~/.composer/'
alias e-hass="[[ ! -d "~/Volumes/hass_config" ]] && mount-hass; cd ~/Volumes/hass_config && code -a ."

alias phpst='open -a "$(ls -dt /Applications/PhpStorm* | head -1)"'


# Reload zsh after editing
alias rzsh='source ~/.zshrc' 

# Directories
alias d-home='cd ~'
alias d-dot='cd ~/.dotfiles'
alias d-dev='cd ~/Dev'
alias d-downloads='cd ~/Downloads'


# Custom diskusage, human readable, max depth 1
alias duc='du -h -d 1 2>/dev/null | sort -rh'

# Quickly find file or directory
alias ff='find . -type f -name 2>/dev/null'
alias fd='find . -type d -name 2>/dev/null'

# File system
alias lsa="ls -alh"
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'

# Applications
alias co='code .'

# Remove '.DS_Store' files from the home folder
alias rm-ds-home='find ~ -name .DS_Store -delete'
# Remove '.*', '._*' and '.DS_Store' files in current directory
alias rm-ds="find . -name '*.DS_Store' -delete; find . -type d -name '.*' -exec rm -rf {} +; find . -name '._*' -delete"
# Remove recursive
alias rm-r='sudo rm -R'

# Print the path with each directory separated by a newline
alias path='echo -e ${PATH//:/\\n}'

# Get external ip
alias ip-int='curl icanhazip.com'
# Get internat ip
alias ip-ext='ipconfig getifaddr en0'
# Get all ip's in subnet 
alias ip-all='nmap -sn 192.168.1.1/24'

alias flushdns='dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo "✌️ DNS flushed"'

# GIT
alias g='git'

alias g-a='git add'
alias g-aa='git add --all'
alias g-pl='git pull'
alias g-p='git push'
alias g-pf='git push --force-with-lease'
alias g-l="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short"
alias g-lg='git log --stat'
alias g-c='git commit -m '
alias g-sync-fork='git fetch --all; git pull upstream master'

# Docker
alias dk-start='open -a Docker'
alias dk-dstop='killall Docker'
alias dk-ps='docker ps'
alias dk-psa='docker ps -a'
alias dk-st='docker stats'
alias dk-imgs='docker images -a'
alias dk-cpup="docker-compose $@ up -d"
alias dk-cpdown='docker-compose down'
alias dk-cpstart='docker-compose start'
alias dk-cpstop='docker-compose stop'
