# Show manual as PDF
function manpdf() {
        man -t "$1" | open -f -a Preview.app
    }

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

function dashcam() {
    DIR_SRC=/Volumes/TESLADRIVE/TeslaCam;
    DIR_DESTINATION=/Users/Ni/Movies;
    if [ -d "$DIR_SRC" ] && [ -d "$DIR_DESTINATION" ]; then
        echo "$DIR_SRC & $DIR_DESTINATION start copying dashcam files files."
        rsync -avu --info=progress2 --no-inc-recursive --human-readable $DIR_SRC $DIR_DESTINATION
    else
        echo "$DIR_SRC or $DIR_DESTINATION directory not exists."
    fi
}
